.quote-box {
	margin: 5% 10% 1% 10%;
	background-color: white;
}

.quote-author {
	font-size: 18px;
	float: right;
}

.quote {
	font-size: 24px;
	margin: 0% 5% 0% 5%;
}

div {
	overflow: hidden;
	font-size: 16px;
}

#getQuote {
	float: right;
	font-size: 20px;
	color: white;
}

#tweet {
	margin-left: 5%;
}